<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/visor-curso/visor-curso.html">


<dom-module id="demo-comp">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Lista de personas</h2>
    <visor-curso
          columnas='[{"value": "CODIGO"}, {"value": "NOMBRE"}]'
          atributos='["ID","Name"]' filas="" ></visor-curso>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComp extends Polymer.Element {
      static get is() { return 'demo-comp'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Alumno'
          }
        };
      }
    }

    window.customElements.define(DemoComp.is, DemoComp);
  </script>
</dom-module>
