<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-curso">
  <template>
    <style>
      :host {
        display: block;
      }

      table {
       border-collapse: collapse;
       width: 100%;
      }

      thead th{
       padding: 8px;
       text-align: left;
       border-bottom: 1px solid #ddd;
       background-color: #0c4778;
       color: white;
      }
      thead th{

       text-align: left;

      }
      td {
       padding: 8px;
       text-align: left;
       border-bottom: 1px solid #ddd;
      }
      .botonera  {

       text-align: center;

      }
      tbody tr:hover {background-color: #c2d5e5;}
      tr:nth-child(even) {background-color: #f2f2f2;}
      button {
        float: left;
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
      }
      .divButton {
        float: left;
        display: inline-block;
      }
      .btnModificar{
        background-color: #34c673;
      }
      .btnModificar:hover {
        background-color: #2a8551; /* Green */
        color: white;
      }
      .btnEliminar{
        background-color: #cb421a;
      }
      .btnEliminar:hover {
        background-color: #75311e; /* Green */
        color: white;
      }
      .btnVerDetalle{
        background-color: #2478cb;
      }
      .btnVerDetalle:hover {
        background-color: #1b4d7e; /* Green */
        color: white;
      }
      button {
        transition-duration: 0.4s;
      }

    </style>

      <table>
        <thead inner-h-t-m-l="[[htmlHead]]"></thead>
        <!-- <tbody inner-h-t-m-l="[[htmlRows]]">-->
        <tbody>

           <template is="dom-repeat" items="{{htmlRowsArray}}">

             <tr >
               <td>
               <tr inner-h-t-m-l="[[item.row]]">
               </tr>
               </td>
               <td>
                 <button class="btnVerDetalle" on-click="getUserById">Ver Detalle</button>
                 <button class="btnModificar" on-click="getUserById">Actualizar</button>
                 <button class="btnEliminar" on-click="getUserById">Eliminar</button>
               </td>
             </tr>



           </template>

        </tbody>
      </table>
    </div>

    <iron-ajax id="ajax"

               handle-as="json"
               last-response="{{respoAjax}}"

               on-response="setUser"></iron-ajax>
    <div style="overflow-x:auto;">
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCurso extends Polymer.Element {
      static get is() { return 'visor-curso'; }
      static get properties() {
        return {
          atributos:{
            type: String
          }, columnas:{
            type:String
          },action :{
            type: String
          },titulo :{
            type: String
          }, filas: {
            type: Array
          },htmlRows :{
            type: String,
            computed: 'getHtmlRows(atributos,columnas,filas,action)'
          },htmlHead :{
            type: String,
            computed: 'getHtmlHead(columnas,action,titulo)'
          },htmlRowsArray :{
            type: String,
            computed: 'getHtmlRowsArray(atributos,columnas,filas,action)'
          }

        };
      }

      getHtmlHead(columnas,action,titulo){
        var col = columnas.split(',');
        var acc = action.split(',');
        var colSum = (col.length>0)? 1 :0
        var colspan = col.length + colSum;

        var htmlTableHeah = '';
        htmlTableHeah =htmlTableHeah + '<tr><th colspan="'+ colspan +'">' + titulo+ '</th</tr>';
        htmlTableHeah =htmlTableHeah + '<tr>';

        for(var x=0;x<col.length;x++){
            htmlTableHeah = htmlTableHeah + '<th>'+col[x] +'</th>';
        }
        if(acc.length>0){
            htmlTableHeah = htmlTableHeah + '<th>ACCIONES</th>';
        }
        htmlTableHeah = htmlTableHeah + '</tr>';
        return  htmlTableHeah;
      }

      getHtmlRows(atributos,columnas,filas,action){
        console.log(columnas);
        console.log(atributos);

        var atri = atributos.split(',');
        //var col = columnas.split(',');
        if (filas!=undefined){
          //var htmlTableHeah = '';
          //htmlTableHeah =htmlTableHeah + '<tr>';
          //for(var x=0;x<col.length;x++){
              //htmlTableHeah = htmlTableHeah + '<td class="col-4">'+col[x] +'</td>';
          //}
          //htmlTableHeah = htmlTableHeah + '</tr>';
          //var htmlString = htmlTableHeah+'';
          var htmlString = '';
          for(var j=0;j<filas.length;j++){
            htmlString = htmlString+'<tr>';
            for(var i=0;i<atri.length;i++){
              htmlString = htmlString + '<td >'+filas[j][atri[i]] +'</td>';
            }
            var acc = action.split(',');
            if(acc.length>0){

                htmlString = htmlString + '<td class="botonera">';
                for(var y=0;y<acc.length;y++){
                  if(acc[y]=='Modificar'){
                      htmlString = htmlString + '<button class ="btnModificar" type="button">'+acc[y]+'</button> '
                  }
                  if(acc[y]=='Eliminar'){
                      htmlString = htmlString + '<button class ="btnEliminar"  type="button">'+acc[y]+'</button> '
                  }
                  if(acc[y]=='Ver Detalle'){
                       htmlString = htmlString + '<button  class ="btnVerDetalle"  type="button" >'+acc[y]+'</button> '
                  }


                }
              htmlString=  htmlString+'</td>';
            }
            htmlString = htmlString + '</tr>';
          }
        }
        return  htmlString;
      }

      getHtmlRowsArray(atributos,columnas,filas,action){
        console.log(columnas);
        console.log(atributos);

        var atri = atributos.split(',');
        var rows = new Array(0);
        if (filas!=undefined){
          rows = new Array(filas.length);


          for(var j=0;j<filas.length;j++){
            var htmlString = '';

            for(var i=0;i<atri.length;i++){
              htmlString = htmlString + '<td >'+filas[j][atri[i]] +'</td>';
            }
          rows[j] = {"row":htmlString} ;


          }
        }
        return  rows;
      }

     getUserById = function(){
          this.$.ajax.url = 'http://localhost:3001/techU/v1/usersDB/2'
          this.$.ajax.generateRequest();
        }

    }

    window.customElements.define(VisorCurso.is, VisorCurso);
  </script>
</dom-module>
