<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-confirm">
  <template>
    <style include="polymer-bootstrap"></style>
    <style include="polymer-bootstrap-theme"></style>
    <style>:host {display: block;}</style>

    <template is="dom-if" if="{{conditionConfirm}}" restamp>
      <div id="divConfirm2">
        <div class="alert alert-info" id="confirmBox">
          <strong>[[typeMessage]]</strong> [[message]]
          <div class="btn-group text-left">
            <button  class="btn btn-primary btn-info"
              on-click="aceptar">Aceptar</button>
            <button  class="btn btn-primary btn-danger"
              on-click="cancelar">Cancelar</button>
         </div>
       </div>
      </div>
    </template>
  </template>
  <script>

  class ComponenteConfirm extends Polymer.Element {
    static get is() { return 'componente-confirm'; }
    static get properties() {
      return {
        typeMessage: {
          type: String
        }, message: {
          type: String
        },conditionConfirm:{
          type: Boolean,
          value:false,
          notify:true
        },idOperacion:{
          type: Number
        }
      };
    }
    ready(){
      super.ready();
    }

    aceptar = function(){
      this.conditionConfirm = false;
      this.notifyPath('conditionConfirm');
      /*Acceder a un elemento o metodo en el componente padre*/
      this.__dataHost.$.myConfirm.style.display = "none";
      this.__dataHost.getUserToDelete(this.idOperacion);
    }
    cancelar = function(){
      this.conditionConfirm = false;
      /*Notificar el cambio de estado en la propiedad del componente*/
      this.notifyPath('conditionConfirm');
          this.__dataHost.$.myConfirm.style.display = "none";
    }
  }
  window.customElements.define(ComponenteConfirm.is, ComponenteConfirm);

  </script>
</dom-module>
