<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer-bootstrap/polymer-bootstrap.html">
<link rel="import" href="../../bower_components/polymer-bootstrap/polymer-bootstrap-theme.html">
<link rel="import" href="/src/componente-user/componente-user.html">

<dom-module id="bandeja-usuarios">
  <template>
   <style include="polymer-bootstrap"></style>
   <style include="polymer-bootstrap-theme"></style>
   <style>:host { display: block; }
   .form-popup {
     width: 100%;
        height: 100%;
background-color: rgba(22,22,22,0.5);
        position: absolute;

        display: none;
        position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;


}

   </style>

    <div class="panel panel-primary">
      <div class="panel-heading">FILTROS DE BUSQUEDA</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="usr">Nombres:</label>
              <input type="text" id="txtNombresBusqueda" class="form-control" value="{{firstNameBusqueda}}">
          </div>
          <div class="form-group">
            <label for="usr">Apellidos:</label>
            <input type="text" id="txtApellidosBusqueda" class="form-control" value="{{lastNameBusqueda}}">
          </div>
          <div class="form-group text-left">
          <div class="btn-group text-left">
            <button  id="btnBuscar" class="btn btn-primary btn-info text-left" on-click="buscar">Buscar</button>
            <button  class="btn btn-primary btn-info"  on-click="limpiar">Limpiar</button>
            <button  class="btn btn-primary btn-info"  on-click="nuevo">Nuevo</button>
          </div>
          </div>
        </div>
      </div>
    </div>

    <componente-alert   type-message='{{alertType}}'
                        message='{{alertMessage}}'
                        condition-success='{{conditionSuccess}}'
                        condition-info='{{conditionInfo}}'
                        condition-warning='{{conditionWarning}}'
                        condition-danger='{{conditionDanger}}'>
    </componente-alert>


    <div class="form-popup" id="myConfirm">

      <componente-confirm   type-message='{{confirmType}}'
                            message='{{confirmMessage}}'
                            condition-confirm='{{conditionConfirm}}'
                            id-operacion='{{idOperacion}}'>
      </componente-confirm>

    </div>
    <div class="form-popup" id="myForm">


      <componente-user
             condition-show-user-dialog = "{{conditionShowUserDialog}}"
             id-user ='{{userSelected.id_User}}'
             first-name='{{userSelected.first_name}}'
             last-name='{{userSelected.last_name}}'
             email='{{userSelected.email}}'
             password ='{{userSelected.password}}'>
       </componente-user>
   </div>

    <div class="panel panel-primary">
      <div class="panel-heading">[[titulo]]</div>
        <div class="panel-body">
        </div>
        <table class="table table-hover">
          <thead class="thead-dark" inner-h-t-m-l="[[htmlHead]]"></thead>
          <!-- <tbody inner-h-t-m-l="[[htmlRows]]">-->
            <tbody>
              <template is="dom-repeat" items="{{filas}}">
               <tr >
                 <td>[[item.id_User]]</td>
                 <td>[[item.first_name]]</td>
                 <td>[[item.last_name]]</td>
                 <td>[[item.email]]</td>
                 <td>[[item.password]]</td>
                 <td>
                   <div class="btn-group">
                     <button  class="btn btn-primary btn-success"
                      on-click="getUserById">Actualizar</button>

                     <button  class="btn btn-primary btn-danger"
                      on-click="confirmDelete">Eliminar</button>
                   </div>
                 </td>
               </tr>
             </template>
           </tbody>
         </table>
       </div>
       <iron-ajax   id="ajaxDelete"
                     method="DELETE"
                     handle-as="json"
                     content-type="application/json"
                     loading="{{loading}}"
                     on-response="onResponseDelete"
                     on-error="onErrorDelete"
                     last-response="{{res}}">
        </iron-ajax>
        <template is="dom-if" if="[[loading]]">Loading...</template>
        <pre>[[json(res)]]</pre>
        <iron-ajax id="ajax"
                    handle-as="json"
                    last-response="{{respoAjax}}"
                    on-response="setUser">
        </iron-ajax>
        <iron-ajax
          id="ajaxBuscar"
          handle-as="json"
          last-response="{{filas}}"
          on-response="">
      </template>
    </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class BandejaUsuarios extends Polymer.Element {
      static get is() { return 'bandeja-usuarios'; }
      static get properties() {
        return {
          atributos:{
            type: String
          }, columnas:{
            type:String
          },action :{
            type: String
          },titulo :{
            type: String
          }, filas: {
            type: Array
          }, htmlHead: {
            type: String,
            computed: 'getHtmlHead(columnas,action,titulo)'
          }, userSelected: {
            type: Object
          },loading: {
            type: Boolean,
            value: false
          }, alertMessage: {
            type: String
          }, alertType: {
            type: String
          }, conditionSuccess: {
            type: Boolean,
            value: false,
            notify:true
          }, conditionInfo: {
            type: Boolean,
            value: false,
            notify:true
          }, conditionWarning: {
            type: Boolean,
            value: false,
            notify:true
          }, conditionDanger: {
            type: Boolean,
            value: false,
            notify:true
          }, confirmType: {
            type: String
          }, confirmMessage: {
            type: String
          }, conditionConfirm: {
            type: Boolean,
            value: false,
            notify:true
          }, idOperacion: {
            type: Number
          }, conditionShowUserDialog: {
            type: Boolean,
            value: false,
            notify:true
          },firstNameBusqueda: {
            type: String
          },firstLastBusqueda: {
            type: String
          }
        };
      }
      ready(){
        console.log("entro al ready()");
        super.ready();
        console.log(this.$.userDialog);
        //  this.$.userDialog.style.display  = "none";
      }
        openForm = function(e){
          this.$.myForm.style.display = "block";
        }

      nuevo= function(e){
        this.conditionShowUserDialog  =true;
        this.notifyPath('conditionDanger');
        this.$.myForm.style.display = "block";


      }
      limpiar= function(){
        this.$.txtNombresBusqueda.value = '';
        this.$.txtApellidosBusqueda.value = '';

      }

      buscar= function(){
        var nombres = this.$.txtNombresBusqueda.value ;
        var apellidos = this.$.txtApellidosBusqueda.value;
        var queryParam = '';
        if(nombres!=''&&apellidos!=''){
          queryParam = '?firstName='+nombres+'&lastName='+apellidos;
        }else{
          if(nombres!=''){
            queryParam = '?firstName='+nombres;
          }if(apellidos!=''){
            queryParam = '?lastName='+apellidos;
          }
        }
        this.$.ajaxBuscar.method = 'GET';
        this.$.ajaxBuscar.url="http://localhost:3001/techU/v1/usersDB"+queryParam;


        this.$.ajaxBuscar.generateRequest();


      }

      json(s) {
        return JSON.stringify(s, null, 2);
      }

      setUser(data) {
          this.$.myForm.style.display = "block";
        console.log("showData");
        console.log(data.detail.response[0]);
        this.userSelected = data.detail.response[0];
        console.log(this.userSelected);
        this.conditionShowUserDialog  =true;
        this.notifyPath('conditionDanger');

      }

      salir = function(e){
        this.$.userDialog.style.display= "none";
        this.userSelected = {};
      }

      confirmDelete =   function(e){
         this.confirmType = 'Confirm:';
         this.confirmMessage = '¿Desea eliminar el registro seleccionado?';
         this.idOperacion = e.model.item["id_User"];
         this.conditionConfirm = true;
         this.notifyPath('conditionConfirm');
         this.$.myConfirm.style.display = "block";
         //this.$$.divConfirm2.style.display= 'block'
         //this.shadowRoot.querySelector("componente-confirm").methodSon();
         // this.shadowRoot.querySelector("componente-confirm").shadowRoot.querySelector("#divConfirm2");
      }

      getUserToDelete = function(idOperacion){
        console.log(idOperacion);
        this.$.ajaxDelete.url = 'http://localhost:3001/techU/v1/usersDB/'+idOperacion;
        var data ={};
        this.$.ajaxDelete.body= data;
        this.$.ajaxDelete.generateRequest();
      }

       /*getUserToDelete = function(e){
            console.log(e.model.item);
           this.$.ajaxDelete.url = 'http://localhost:3001/techU/v1/usersDB/'+e.model.item["id_User"];
           var data ={};
           this.$.ajaxDelete.body= data;
           this.$.ajaxDelete.generateRequest();
         }*/

      getUserById = function(e){
        console.log(e.model.item);
        this.$.ajax.url = 'http://localhost:3001/techU/v1/usersDB/'+e.model.item["id_User"];
        this.$.ajax.generateRequest();

      }

      getHtmlHead(columnas,action,titulo){
        var col = columnas.split(',');
        var acc = action.split(',');
        var colSum = (col.length>0)? 1 :0
        var colspan = col.length + colSum;

        var htmlTableHeah = '';

        for(var x=0;x<col.length;x++){
            htmlTableHeah = htmlTableHeah + '<th><p><strong>'+col[x] +'</strong></p></th>';
        }
        if(acc.length>0){
            htmlTableHeah = htmlTableHeah + '<th><p><strong>ACCIONES</strong></p></th>';
        }
        htmlTableHeah = htmlTableHeah + '</tr>';
        return  htmlTableHeah;
      }


      onResponseDelete(e,request) {
        var headers = request.xhr.getAllResponseHeaders();
        console.log('headers: ',headers);
        console.log('succeeded ',request.succeeded);
        console.log('status: ',request.status);
        console.log('response', e.detail.response);

        if(request.status==200){
          this.alertMessage = 'Status: ' + request.status + ' El usuario se elimino correctamente';
          this.alertType = 'Success!';
          this.conditionSuccess = true;
          this.conditionInfo = false;
          this.conditionWarning = false;
          this.conditionDanger = false;
          this.notifyPath('conditionSuccess');
          this.notifyPath('conditionInfo');
          this.notifyPath('conditionWarning');
          this.notifyPath('conditionDanger');
          //this.$.myAlert.style.display = "block";
          this.buscar();


        }
        if(request.status==400){
          this.alertMessage = 'Status: ' + request.status + ' El usuario no se pudo eliminar';
          this.alertType = 'Warning!';
          this.conditionSuccess = false;
          this.conditionInfo = false;
          this.conditionWarning = true;
          this.conditionDanger = false;
          this.notifyPath('conditionSuccess');
          this.notifyPath('conditionInfo');
          this.notifyPath('conditionWarning');
          this.notifyPath('conditionDanger');
        }
        if(request.status==500){
          this.alertMessage = 'Status: ' + request.status + ' El usuario no se pudo eliminar, ocurrio un error';
          this.alertType = 'Danger!';
          this.conditionSuccess = false;
          this.conditionInfo = false;
          this.conditionWarning = false;
          this.conditionDanger = true;
          this.notifyPath('conditionSuccess');
          this.notifyPath('conditionInfo');
          this.notifyPath('conditionWarning');
          this.notifyPath('conditionDanger');
        }


      }

      onErrorDelete(e, error) {
        console.log(error.request.status);
        this.alertMessage = 'Status: ' + error.request.status + ' El usuario no se pudo eliminar, ocurrio un error';
        this.alertType = 'Danger!';
        this.conditionSuccess = false;
        this.conditionInfo = false;
        this.conditionWarning = false;
        this.conditionDanger = true;
        this.notifyPath('conditionSuccess');
        this.notifyPath('conditionInfo');
        this.notifyPath('conditionWarning');
        this.notifyPath('conditionDanger');
      }

      test(){
        console.log('SI LLEGA');
         //this.shadowRoot.querySelector("componente-confirm").methodSon();
      }

    }

    window.customElements.define(BandejaUsuarios.is, BandejaUsuarios);
  </script>
</dom-module>
