<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-alert">
  <template>
    <style include="polymer-bootstrap"></style>
    <style include="polymer-bootstrap-theme"></style>
    <style>:host { display: block;}</style>
      <template is="dom-if" if="{{conditionSuccess}}" restamp="true">
        <div class="alert alert-success" id="alertMessageBoxSuccess">
          <strong>[[typeMessage]]</strong> [[message]]
            <!--<div class="btn-group text-left">
            <button  class="btn btn-primary btn-success"  on-click="aceptar">Aceptar</button>
          </div>-->
       </div>
     </template>
     <template is="dom-if" if="{{conditionInfo}}" restamp="true">
       <div class="alert alert-info" id="alertMessageBoxInfo">
         <strong>[[typeMessage]]</strong> [[message]]
           <!--<div class="btn-group text-left">
           <button  class="btn btn-primary btn-info"  on-click="aceptar">Aceptar</button>
       </div>-->
     </div>
   </template>
   <template is="dom-if" if="{{conditionWarning}}" restamp="true">
     <div class="alert alert-warning" id="alertMessageBoxWarning">
       <strong>[[typeMessage]]</strong> [[message]]
         <!--<div class="btn-group text-left">
        <button  class="btn btn-primary btn-warning"  on-click="aceptar">Aceptar</button>
      </div>-->
    </div>
  </template>
  <template is="dom-if" if="{{conditionDanger}}" restamp="true">
    <div class="alert alert-danger" id="alertMessageBoxDanger">
      <strong>[[typeMessage]]</strong> [[message]]
      <!--<div class="btn-group text-left">
        <button  class="btn btn-primary btn-danger"  on-click="aceptar">Aceptar</button>
     </div>-->
   </div>
  </template>
  </template>
  <script>

  class ComponenteAlert extends Polymer.Element {
    static get is() { return 'componente-alert'; }
    static get properties() {
      return {
        typeMessage: {
          type: String
        }, message: {
          type: String
        }, classMessage: {
          type: String
        },conditionSuccess: {
          type: Boolean,
          value:false,
          notify:true
        },conditionWarning :{
          type: Boolean,
          value:false,
          notify:true
        },conditionInfo: {
          type: Boolean,
          value:false,
          notify:true
        },conditionDanger:{
          type: Boolean,
          value:false,
          notify:true
        }
      };
    }
    ready(){
      super.ready();
    }

    aceptar = function(){
      this.conditionSuccess = false;
      this.conditionInfo= false;
      this.conditionWarning = false;
      this.conditionDanger= false;
      this.notifyPath('conditionSuccess');
      this.notifyPath('conditionInfo');
      this.notifyPath('conditionWarning');
      this.notifyPath('conditionDanger');
    }
  }

  window.customElements.define(ComponenteAlert.is, ComponenteAlert);
  </script>
</dom-module>
