<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-principal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponentePrincipal extends Polymer.Element {
      static get is() { return 'componente-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Jose Erasmo Rodriguez Paredes'
          }, unid:{
            type: String,
            value: 'Core cross system'
          }
        };
      }
    }

    window.customElements.define(ComponentePrincipal.is, ComponentePrincipal);
  </script>
</dom-module>
