<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<!--<link rel="import" href="/src/visor-curso/visor-curso.html">-->
<link rel="import" href="/src/bandeja-usuarios/bandeja-usuarios.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.js">

  <dom-module id="visor-persona">



  <template>
  <!--   <button on-click="getUserById">Buscar</button>

  <paper-spinner alt="Loading..." active></paper-spinner>-->
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- <visor-curso titulo='LISTA DE USUARIOS'
          columnas='CODIGO,NOMBRE,APELLIDOS,EMAIL,CLAVE'
          atributos='id_User,first_name,last_name,email,password'
          action='Modificar,Eliminar,Ver Detalle'
          filas='{{ajaxResponse}}' >
    </visor-curso>-->

    <bandeja-usuarios
          titulo='LISTA DE USUARIOS'
          action='Modificar,Eliminar,Ver Detalle'
          columnas='CODIGO,NOMBRE,APELLIDOS,EMAIL,CLAVE'
          filas='{{ajaxResponse}}' >
    </bandeja-usuarios>

    <iron-ajax auto
      id="getUsers"
      url="http://localhost:3001/techU/v1/usersDB/"
      handle-as="json"
      last-response="{{ajaxResponse}}"
      on-response="showData">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorPersona extends Polymer.Element {
      static get is() { return 'visor-persona'; }
      static get properties() {
        return {
          name: {
            type: String
          }, id: {
            type: Number
          }
        };
      }

    /*  getUserById = function(){
        this.$.ajax.url = 'http://localhost:3001/techU/v1/usersDB/2'
        this.$.ajax.generateRequest();
      }*/
      setUser(data){
        this.id = data.detail.response[0].id_User;
        this.name = data.detail.response[0].first_name;
      }
      showData(data) {
      //  console.log("showData");
        //   console.log(data.detail.response);
        //   this.id = data.detail.response[0].id_User;
        //   this.name = data.detail.response[0].first_name;

      }
    }

    window.customElements.define(VisorPersona.is, VisorPersona);
  </script>
</dom-module>
