<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/src/componente-alert/componente-alert.html">
<link rel="import" href="/src/componente-confirm/componente-confirm.html">

<dom-module id="componente-user">
  <template>
    <style include="polymer-bootstrap"></style>
    <style include="polymer-bootstrap-theme">
    <style>:host {display: block;}
    </style>
    <template is="dom-if" if="{{conditionShowUserDialog}}" restamp="true">


        <div class="modal-dialog modal-sm">
          <div id ="userDialog2" class="modal-content" >
            <div class="modal-header">
              <h2>Mantenimiento de usuario</h2>
            </div>
            <div class="modal-body">

              <componente-alert  type-message='{{alertType}}'
                                  message='{{alertMessage}}'
                                  condition-success='{{conditionSuccess}}'
                                  condition-info='{{conditionInfo}}'
                                  condition-warning='{{conditionWarning}}'
                                  condition-danger='{{conditionDanger}}'>
                </componente-alert>
              <div class="form-popup" id="myAlert">
              <div id="formUser">
                <div class="form-group">
                  <label for="usr">Codigo: {{idUser}}</label>
                </div>
                <div class="form-group">
                  <label for="usr">Nombres:</label>
                  <input type="text" id="txtNombres" class="form-control" value="{{firstName}}">
                </div>
                <div class="form-group">
                  <label for="usr">Apellidos:</label>
                  <input type="text" id="txtApellidos"  class="form-control" value="{{lastName}}">
                </div>
                <div class="form-group">
                  <label for="usr">Email:</label>
                  <input type="text" id="txtEmail"  class="form-control" value="{{email}}">
                </div>
                <div class="form-group">
                  <label for="usr">Password:</label>
                  <input type="text" id="txtPassword"  class="form-control" value="{{password}}">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="btn-group text-left">
                <button  class="btn btn-primary btn-info"
                  on-click="send" disabled="[[loading]]">Guardar</button>
                <button  class="btn btn-primary btn-info"  on-click="salir">Salir</button>
              </div>
            </div>
          </div>
        </div>

    </template>
    <template is="dom-if" if="[[loading]]">Loading...</template>
    <pre>[[json(user)]]</pre>


    <iron-ajax id="ajaxPost"


                     handle-as="json"
                     content-type="application/json"
                     loading="{{loading}}"
                     on-response="saveUserCredentials"
                     on-error="errorRecibido"
                     last-response="{{user}}">
    </iron-ajax>
  </template>
  <script>

    class ComponenteUser extends Polymer.Element {
      static get is() { return 'componente-user'; }
      static get properties() {
        return {
          idUser: {
            type: Number
          }, firstName: {
            type: String
          }, lastName: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          },loading: {
            type: Boolean,
            value: false
          }, alertMessage: {
            type: String
          }, alertType: {
            type: String
          }, conditionSuccess: {
            type: Boolean,
            value: false,
            notify:true
          }, conditionInfo: {
            type: Boolean,
            value: false,
            notify:true
          }, conditionWarning: {
            type: Boolean,
            value: false,
            notify:true
          }, conditionDanger: {
            type: Boolean,
            value: false,
            notify:true
          }, conditionShowUserDialog: {
            type: Boolean,
            value: false,
            notify:true
          }
        };
      }
      ready(){
        console.log("entro al ready()");
        super.ready();
      }

      getAjaxBody = function(email, password){
        return JSON.stringify({email: email, password: password});
      }

      salir = function(){
        this.conditionShowUserDialog  =false;
        this.notifyPath('conditionShowUserDialog');
        this.conditionSuccess = false;
        this.conditionnfo = false;
        this.conditionWarning = false;
        this.conditionDanger = false;
        this.notifyPath('conditionSuccess');
        this.notifyPath('conditionInfo');
        this.notifyPath('conditionWarning');
        this.notifyPath('conditionDanger');

        this.shadowRoot.querySelector("#txtNombres").value='';
        this.shadowRoot.querySelector("#txtApellidos").value='';
        this.shadowRoot.querySelector("#txtEmail").value='';
        this.shadowRoot.querySelector("#txtPassword").value='';
        this.idUser="";
        this.firstName="";
        this.lastName="";
        this.email="";
        this.password="";

        this.__dataHost.$.myForm.style.display = "none";
        //this.__dataHost.$.btnBuscar.click();
        //this.buscar();
      }

      send = function(){
        console.log(this.$.ajaxPost);
        /*  this.$.ajaxPost.headers = {
          'Content-Type': 'application/json'
        };*/
        var data ={
          first_name: this.shadowRoot.querySelector("#txtNombres").value ,
          last_name: this.shadowRoot.querySelector("#txtApellidos").value ,
          email: this.shadowRoot.querySelector("#txtEmail").value ,
          password:  this.shadowRoot.querySelector("#txtPassword").value
        }

        if(this.idUser==''){

          this.$.ajaxPost.method="POST";
          this.$.ajaxPost.url="http://localhost:3001/techU/v1/usersDB2";
        }
        else{
          this.$.ajaxPost.url="http://localhost:3001/techU/v1/usersBD/" + this.idUser;
          this.$.ajaxPost.method="PUT";
        }
        this.$.ajaxPost.body = data;
        this.$.ajaxPost.generateRequest();

    }

    json(s){
      return JSON.stringify(s, null, 2);
    }

    saveUserCredentials(e,request){
      var headers = request.xhr.getAllResponseHeaders();
      console.log('headers: ',headers);
      console.log('succeeded ',request.succeeded);
      console.log('status: ',request.status);
      console.log('response', e.detail.response);

      if(request.status==200){
        this.alertMessage = 'Status: ' + request.status + ' Se grabaron los datos correctamente';
        this.alertType = 'Success!';
        this.conditionSuccess = true;
        this.conditionInfo = false;
        this.conditionWarning = false;
        this.conditionDanger = false;

         this.notifyPath('conditionSuccess');
         this.notifyPath('conditionInfo');
         this.notifyPath('conditionWarning');
         this.notifyPath('conditionDanger');
           this.__dataHost.$.btnBuscar.click();



        this.idUser = e.detail.response.id_User;

      }
      if(request.status==400){
        this.alertMessage = 'Status: ' + request.status + ' El usuario no se pudo registrar';
        this.alertType = 'Warning!';
        this.conditionSuccess = false;
        this.conditionnfo = false;
        this.conditionWarning = true;
        this.conditionDanger = false;
        this.notifyPath('conditionSuccess');
        this.notifyPath('conditionInfo');
        this.notifyPath('conditionWarning');
        this.notifyPath('conditionDanger');
      }
      if(request.status==500){
        this.alertMessage = 'Status: ' + request.status + ' El usuario no se pudo registrar, ocurrio un error';
        this.alertType = 'Danger!';
        this.conditionSuccess = false;
        this.conditionInfo = false;
        this.conditionWarning = false;
        this.conditionDanger = true;
        this.notifyPath('conditionSuccess');
        this.notifyPath('conditionInfo');
        this.notifyPath('conditionWarning');
        this.notifyPath('conditionDanger');
      }
    }


    errorRecibido(e, error){
      console.log(error.request.status);
      this.alertMessage = 'Status: ' + error.request.status + ' El usuario no se pudo registrar, ocurrio un error';
      this.alertType = 'Danger!';
      this.conditionSuccess = false;
      this.conditionInfo = false;
      this.conditionWarning = false;
      this.conditionDanger = true;
      this.notifyPath('conditionSuccess');
      this.notifyPath('conditionInfo');
      this.notifyPath('conditionWarning');
      this.notifyPath('conditionDanger');
    }
  }

    window.customElements.define(ComponenteUser.is, ComponenteUser);
  </script>
</dom-module>
